@import "../../../style/theme/variables.scss";

.wrapper {
    display: flex;
    height: 100%;
    background-color: #F7F7F7;

    .menu-panel {
        flex-grow: 0;
        overflow: auto;
        width: 160px;
        min-width: 160px;
        background-color: #ddd;
        transition: all 0.3s;

        &::-webkit-scrollbar { 
            display: none; 
        }

        &:hover {
            &::-webkit-scrollbar { 
                display: initial;
            }
        }
    }

    .content-panel {
        flex-grow: 1;
        padding: 10px 15px;
        overflow: auto;
    }
}

.dropdown-menu {
    margin-left: 139px;
    margin-top: -4px;

    .active {
        font-weight: bold;
    }
}

.dash-menu {
    padding: 0 5px;

    i.icon-menu-dash {
        font-size: 26px;
        padding: 5px;
    }
}

.spinner {
    display: inline-block;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    text-align: center;
}

@media(max-width: $mobileWidth) {
    .wrapper {
        .menu-panel {
            width: 50px;
            min-width: 50px;
        }
    }
}
