$mobileWidth: 510px;

$resS1: 540px;
$resS2: 600px;
$resS3: 640px;
$resS4: 700px;
$resS5: 736px;
$resS6: 768px;

$resM1: 898px;
$resM2: 992px;
$resM3: 1008px;
$resM4: 1024px;

$resL1: 1068px;
$resL2: 1280px;
$resL3: 1440px;
$resL4: 1700px;
$resL5: 2100px;

$resXXS: 540px;
$resXS: 640px;
$resS: 768px;
$resM: 992px;
$resL: 1024px;
$resXL: 1440px;
