:host {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #eee;
}

.image-card {
    margin: auto;
    img {
        max-width: 100%;
        height: auto;
    }

    .no-image {
        font-size: 36px;
    }
}
