
<div class="image-card">
    <img *ngIf="vehicle.hasFile && !!image; else noImage" [src]="image">
    <ng-template #noImage>
        <div class="vehicle-image no-image">
            <i class="icon-image"></i>
        </div>
    </ng-template>
</div>
<!-- <va-card>
    <va-card-title>
        <div class="ribbon" *ngIf="vehicle.dateOfSale">Prodáno</div>
        <div class="vehicle-image" *ngIf="vehicle.hasFile && !!image; else noImage">
            <img [src]="image">
        </div>
        <ng-template #noImage>
            <div class="vehicle-image no-image">
                <i class="icon-image"></i>
            </div>
        </ng-template>
    </va-card-title>

    <va-card-content>
        <div class="content">
            <div class="purchase-date">
                <span class="date"
                    [tooltip]="vehicle.purchaseDate | moment: 'DD.MM.YYYY'"
                    placement="bottom"
                    container="body">
                    Koupeno {{ (vehicle.purchaseDate | moment: "DD.MM.YYYY" | fromNow) || '-'}}
                </span>
                <span class="space"></span>
                <div>
                    <div dropdown container="body">
                        <i dropdownToggle class="icon-more-vertical dropdown-toggle"></i>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem">
                                <a class="dropdown-item" (click)="deleted.emit(vehicle)">Odstranit</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="title">
                <a [routerLink]="['/vehicle', vehicle.id, 'fuel']">{{vehicle.brand}} {{vehicle.model}}</a>
            </div>
        </div>
        <div class="meta">
            <div class="cell">
                <div class="value">{{vehicle.lastOdo | formatNumber}}</div>
                <div class="desc">{{vehicle.units}}</div>
            </div>
            <div *ngIf="vehicle.subUnits" class="cell">
                <div class="value">{{vehicle.lastOdo2 | formatNumber}}</div>
                <div class="desc">{{vehicle.subUnits}}</div>
            </div>
            <div class="cell">
                <div class="value">{{vehicle.price | price}}</div>
                <div class="desc">cena</div>
            </div>
        </div>
    </va-card-content>
</va-card> -->