<div dropdown [autoClose]="false" (isOpenChange)="onToggle($event)">
    <button type="button" class="btn btn-default btn-block dropdown-toggle" dropdownToggle>
        <span class="value">{{ (dt.value | moment: "DD.MM.YYYY") || 'Vyber datum'}}</span> <span class="caret" [class.reversed]="isOpen"></span>
    </button>
    <ul *dropdownMenu role="menu" class="dropdown-menu">
        <datepicker [formControl]="dt" [showWeeks]="false" [startingDay]="1"></datepicker>
        <button type="button" class="btn btn-default" (click)="clear()">Clear</button>
        <button type="button" class="btn btn-default" (click)="isOpen = false">Close</button>
    </ul>
</div>