button {
    display: flex;
    
    .value {
        flex-grow: 1;
        text-align: left;
    }

    .caret {
        flex-grow: 0;
        position: relative;
        top: 7px;
    }
}

ul {
    padding: 0;

    button {
        width: 49%;
        display: inline-block;
    }
}

.dropdown-menu {
    top: auto;
    left: auto;
}

:host ::ng-deep {
    datepicker {

        datepicker-inner {
            div {
                margin: 0;
            }
        }
        // border: 5px solid red;
    }
}