<form [formGroup]="form">
    <mat-form-field>
        <input type="text" matInput formControlName="firstName" placeholder="Jméno">
    </mat-form-field>

    <mat-form-field>
        <input type="text" matInput formControlName="lastName" placeholder="Příjmení">
    </mat-form-field>

    <div formGroupName="pwds">
        <va-form-item [control]="form.get('pwds')">
            <mat-form-field>
                <input matInput type="password" formControlName="pwd" placeholder="Heslo">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" formControlName="pwdCheck" placeholder="Heslo znovu">
            </mat-form-field>
        </va-form-item>
    </div>

    <button mat-raised-button [disabled]="!form.valid" (click)="finishRegistration()">
        Dokončit registraci
    </button>
</form>