@import "../../../../../style/theme/conf.scss";

.content {
    max-height: 400px;
    min-height: 56px;
    overflow: auto;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    position: relative;
}

.va-table {
    background: #fff;
    width: 100%;

    .td-section {
        font-size: 12px;
        color: rgba(0,0,0,.54);
        font-weight: 500;
    }

    thead tr {
        th {
            height: 56px;
            border-bottom: 1px solid rgba(0,0,0,0.12);
            font-size: 12px;
            color: rgba(0,0,0,.54);
            font-weight: 500;
            
            &:first-child {
                padding-left: 24px;
            }

            &:last-child {
                padding-right: 24px;
            }
        }
    }

    tbody tr, tfoot tr {
        td {
            height: 48px;
            border-bottom: 1px solid rgba(0,0,0,0.12);

            &:first-child {
                padding-left: 24px;
            }

            &:last-child {
                padding-right: 24px;
            }
        }
    }
}

.actions {
    i {
        cursor: pointer;
    }
}
