<h3 mat-dialog-title>{{tire.brand}} {{tire.model}}</h3>
<mat-dialog-content>
    <div class="preview">
        <div class="content" *ngIf="tire; else tireError;">
            <div class="header">
                <div class="row">
                    <!-- <div class="col-md-6">
                        <div class="title">
                            {{tire.brand}} {{tire.model}}
                        </div>
                    </div> -->
                    <div class="col-sm-12 title">
                            <i class="icon-quotes-left"></i> {{tire.description}}
                        <i class="icon-quotes-right"></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">{{tire.dimensions}}</div>
            </div>

            <div class="row">
                <div class="col-md-3">DOT:</div>
                <div class="col-md-3">{{tire.dot}}</div>
                <div class="col-md-3">Datum koupě:</div>
                <div class="col-md-3">{{tire.purchaseDate | moment: 'DD.MM.YYYY'}}</div>
            </div>
            
            <div class="row">
                <div class="col-md-3">Nájezd:</div>
                <div class="col-md-3">{{tire.odo | formatNumber}} km</div>
                <div class="col-md-3">Nájezd</div>
                <div class="col-md-3">{{tire.odo2 | formatNumber}} mh</div>
            </div>

            <div class="row" *ngIf="tire.notes">
                <div class="col-md-12 notes">
                    <i class="icon-text"></i> {{tire.notes}}
                </div>
            </div>
            
            <div class="footer">
                <div class="price">{{tire.priceEach | price}}</div>
            </div>
        </div>
        <ng-template #tireError>
            Pneumatika nebyla nalezena!
        </ng-template>

        <div class="history">
            <div *ngIf="!loading && !!tireHistory">
                <table class="table">
                    <tr>
                        <th>Datum výměny</th>
                        <th>ODO km</th>
                        <th>ODO mh</th>
                        <th>Akce</th>
                    </tr>
                    <ng-container *ngIf="!!tireHistory && !!tireHistory.length; else noHistory">
                        <tr *ngFor="let history of tireHistory">
                            <td>{{history.date | moment: 'DD.MM.YYYY'}}</td>
                            <td>{{history.odo | formatNumber}} km</td>
                            <td>{{history.odo2 | formatNumber}} mh</td>
                            <td>
                                <i class="history-action" [class.icon-chevron-up]="history.status === 'ACTIVE'"
                                    [class.icon-chevron-down]="history.status === 'STOCK'"
                                    [matTooltip]="history.status === 'ACTIVE' ? 'Obutí' : 'Vyzutí'"></i>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #noHistory>
                        <tr>
                            <td colspan="4">Pneumatika nemá žádnou historii.</td>
                        </tr>
                    </ng-template>
                </table>
            </div>
            <div *ngIf="loading" class="loading">
                <va-spinner></va-spinner>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Zavřít</button>
</mat-dialog-actions>