<form [formGroup]="form" (submit)="form.valid && save()">
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="brand">Značka:</label>
            <va-form-item [control]="form.controls.brand">
                <input type="text" id="brand" class="form-control" placeholder="Značka..." formControlName="brand">
            </va-form-item>
        </div>
        <div class="col-md-6 form-group">
            <label for="model">Model:</label>
            <va-form-item [control]="form.controls.model">
                <input type="text" id="model" class="form-control" placeholder="Model..." formControlName="model">
            </va-form-item>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="manufactureYear">Rok výroby:</label>
            <va-form-item [control]="form.controls.manufactureYear">
                <input type="text" id="manufactureYear" class="form-control"
                    placeholder="2017" formControlName="manufactureYear">
            </va-form-item>
        </div>
        <div class="col-md-6 form-group">
            <label for="price">Počet předchozích majitelů:</label>
            <va-form-item [control]="form.controls.previousOwners">
                <input type="text" id="previousOwners" class="form-control"
                    placeholder="0" formControlName="previousOwners">
            </va-form-item>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label for="type">Typ:</label>
            <va-form-item [control]="form.controls.type">
                <select id="type" class="form-control"
                    placeholder="Typ vozidla" formControlName="type">
                    <option value="CAR">auto</option>
                    <option value="MOTORCYCLE">motocykl</option>
                </select>
            </va-form-item>
        </div>
        <div class="col-md-6 form-group">
            <label for="spz">SPZ:</label>
            <va-form-item [control]="form.controls.spz">
                <input type="text" id="spz" class="form-control" placeholder="SPZ" formControlName="spz">
            </va-form-item>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <label for="notes">Poznámky:</label>
            <va-form-item [control]="form.controls.notes">
                <textarea type="text" id="notes" class="form-control"
                    placeholder="Poznámky..." formControlName="notes"></textarea>
            </va-form-item>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default" (click)="cancel()">Zrušit</button>
            <button type="submit" class="btn btn-primary" [class.disabled]="!form.valid">Uložit</button>
        </div>
    </div>
</form>