<div class="row">
    <div class="col-sm-6">
        <va-section-heading>
            <va-section-heading-title>Náklady</va-section-heading-title>
            <va-section-heading-controls>
                <a [routerLink]="['./', { outlets: {'popup':['m','add', vehicleId]}}]">Přidat</a>
                <a (click)="categorySettings()">Kategorie</a>
            </va-section-heading-controls>
        </va-section-heading>

        <form [formGroup]="form">
            <div class="filter">
                <input class="form-control" formControlName="query" placeholder="hledat...">
            </div>

            <div class="filter">
                <select id="categiry" class="form-control" formControlName="category">
                    <option value="">všechny kategorie</option>
                    <option *ngFor="let category of categories"
                        [value]="category.id">{{category.title}}</option> 
                </select>
            </div>
        </form>

        <div class="costs-content">

            <div *ngIf="loading && !costs" class="loading">
                <i class="icon-refresh spin"></i>
            </div>

            <div class="costs" *ngIf="!!costs">

                <va-paginator [service]="costService"
                    (selected)="fetchPage($event)"></va-paginator>

                <div class="cost-cards">
                    <va-cost-card *ngFor="let cost of costs"
                        [cost]="cost"
                        (deleted)="onDeleted()"></va-cost-card>
                </div>

                <va-paginator [service]="costService"
                    (selected)="fetchPage($event)"></va-paginator>
            </div>
            <div *ngIf="(!costs || costs.length < 1) && !loading">
                Nebyly nalezeny žádné záznamy.
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <h3>Statistiky</h3>
        <va-cost-stats [vehicleId]="vehicleId" [categories]="categories"></va-cost-stats>
    </div>
</div>

<router-outlet (deactivate)="fetchCurrentPage()" name="popup"></router-outlet>

<div bsModal #formModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true"><i class="icon-clear"></i></span>
        </button>
        <h4 class="modal-title">{{modalTitle}}</h4>
      </div>
      <div class="modal-body">
          <va-cost-category-form *ngIf="modalBody === 'category'"
                (closeClicked)="close()"></va-cost-category-form>
      </div>
    </div>
  </div>
</div>