@import "../../../../../style/theme/conf.scss";

.add {
    display: flex;

    mat-form-field {
        flex-grow: 1;
    }
}

.category-list {
    margin-top: 10px;

    .category-item {
        display: flex;
        padding: 8px 6px;

        &:hover {
            background-color: #e6e6e6;
        }

        .color {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin: auto 6px auto 0;
        }

        .title {
            flex-grow: 1;
            margin: auto 0;
        }

        .controls {
            flex-grow: 0;
            white-space: nowrap;
            font-size: 20px;
            margin: auto 0;
            
            i {
                cursor: pointer;
                &:first-child {
                    margin-right: 6px;
                }
            }
        }
    }
}