<div>
    <form [formGroup]="form" (submit)="form.valid && !loading && logUser()">
        <div class="row">
            <va-form-item class="col-sm-12">
                <!-- <label for="email">Jméno:</label> -->
                <input type="text" class="form-control" formControlName="email" placeholder="jméno"> 
            </va-form-item>
        </div>
        <div class="row">
            <va-form-item class="col-sm-12">
                <!-- <label for="password">Heslo:</label> -->
                <input type="password" class="form-control" formControlName="password" placeholder="heslo">
            </va-form-item>
        </div>
        <div>
            <a [routerLink]="['/register']">Registrovat</a>
        </div>
        <div class="row">
            <va-form-item class="col-sm-12">
                <va-checkbox id="remember" formConrolName="remember"></va-checkbox>
                <label for="remember">Neodhlašovat</label>
            </va-form-item>
        </div>
        <div class="row">
            <div class="col-sm-12 center">
                <i *ngIf="loading" class="icon-refresh spin"></i>
                <button type="submit" class="btn btn-primary">
                    Přihlásit
                </button>
            </div>
        </div>
        <p *ngIf="!!invalidToken">Byl jsi automaticky odhlášen.</p>
    </form>
</div>