<div>
    <form [formGroup]="form" (submit)="form.valid && !loading && logUser()">
        <div class="row">
            <mat-form-field class="col-sm-12">
                <input matInput type="text" formControlName="email" placeholder="email"> 
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-sm-12">
                <input matInput type="password" formControlName="password" placeholder="heslo">
            </mat-form-field>
        </div>
        <div>
            <a [routerLink]="['/register']">Registrovat</a>
        </div>
        <div class="row">
            <!-- <mat-form-field class="col-sm-12"> -->
                <!-- <va-checkbox id="remember" formConrolName="remember"></va-checkbox> -->
                <!-- <label for="remember">Zapamatovat</label> -->
                <mat-checkbox formConrolName="remember">Zapamatovat</mat-checkbox>
            <!-- </mat-form-field> -->
        </div>
        <div class="row">
            <div class="col-sm-12 center">
                <!-- <i *ngIf="loading" class="icon-refresh spin"></i> -->
                <button mat-raised-button type="submit">
                    Přihlásit
                </button>
            </div>
        </div>
        <p *ngIf="!!invalidToken">Byl jsi automaticky odhlášen.</p>
    </form>
</div>