<div class="wrapper">
    <form [formGroup]="form" (submit)="form.valid && !loading && logUser()">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="header">Vehicle APP</div>
            </div>
        </div>
        <div class="row">
            <mat-form-field class="col-sm-12 col-xs-12 email-row">
                <input matInput type="text" formControlName="email" placeholder="email"> 
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-sm-12 col-xs-12">
                <input matInput type="password" formControlName="password" placeholder="heslo">
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <mat-checkbox formConrolName="remember">Zapamatovat</mat-checkbox>
            </div>
            <div class="col-sm-6 col-xs-6 text-right">
                <a [routerLink]="['/register']">Registrovat</a>
            </div>
        </div>
        <div class="row action">
            <div class="col-sm-12 col-xs-12 center">
                <button mat-raised-button color="primary" type="submit" [disabled]="loading">
                    {{!loading ? 'Přihlásit' : 'Nahrávám...'}}
                </button>
            </div>
        </div>
        <p *ngIf="!!invalidToken">Byl jsi automaticky odhlášen.</p>
    </form>
</div>