<div class="modal fade" bsModal #dialog="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button #btnClose type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">

                <form [formGroup]="form">
                    <div class="row">
                        <va-form-item class="col-md-12" [control]="form.get('name')">
                            <label for="name">Název parametru:</label>
                            <input type="text" id="name" class="form-control" formControlName="name">
                        </va-form-item>
                    </div>

                    <div class="row">
                        <va-form-item class="col-md-12" [control]="form.get('value')">
                            <label for="value">Hodnota:</label>
                            <input type="text" id="value" class="form-control" formControlName="value">
                        </va-form-item>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button #btnCancel type="button" class="btn btn-default">Zrušit</button>
                            <button #btnSave type="button" class="btn btn-primary" [disabled]="!form.valid">Uložit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>