<form [formGroup]="form">
	<ng-container *ngIf="!registered; else registeredRef">
		<div class="row">
			<mat-form-field>
				<input matInput placeholder="Email" [formControl]="form.get('email')" type="email">
			</mat-form-field>
			<div *ngIf="error" class="error cl-sm-12">
				Zadaný email již existuje
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 center">
				<!-- <i *ngIf="loading" class="icon-refresh spin"></i> -->
				<!-- <button type="button" class="btn btn-primary" [disabled]="!form.valid"
					(click)="form.valid && !loading && register()">
					Registrovat
				</button> -->
				<button mat-raised-button [disabled]="!form.valid"
					(click)="form.valid && !loading && register()">Registrovat</button>
			</div>
		</div>
	</ng-container>

	<ng-template #registeredRef>
		<div>
			<h3>Byl(a) jste úspěšně zaregistrován(a)!</h3>
			<div>Na uvedený email Vám byl odeslán aktivační email.</div>
		</div>
	</ng-template>

	<a [routerLink]="['/login']">zpět na přihlášení</a>
</form>
