<form [formGroup]="form">
    <div class="row">
        
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput type="text" id="brand" formControlName="brand"
                placeholder="Značka">
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput type="text" id="model" formControlName="model"
                placeholder="Model">
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput type="text" id="dimensions" formControlName="dimensions"
                placeholder="Rozměry, rychlostní index, atd."
                matTooltip="Rozměry, rychlostní index, atd.">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput type="text" id="description" formControlName="description"
                placeholder="Vlastní popis"
                matTooltip="Např: přední-letní, blato, apod.">
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput type="number" id="dot" formControlName="dot"
                placeholder="DOT" matTooltip="Týden a rok výroby (TTRR)">
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput id="purchaseDate" formControlName="purchaseDate"
                [matDatepicker]="picker" placeholder="Datum koupě">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput type="number" id="priceEach" formControlName="priceEach"
                placeholder="Cena za kus">
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput type="number" id="quantity" formControlName="quantity"
                placeholder="Počet kusů">
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput type="number" id="totalPrice" formControlName="totalPrice"
                placeholder="Celková cena">
        </mat-form-field>
        
    </div>

    <div class="row">
        <mat-form-field class="col-sm-12 col-xs-12">
            <input matInput type="text" id="notes" formControlName="notes"
                placeholder="Poznámky">
        </mat-form-field>
    </div>    
</form>