<form [formGroup]="form">
    <div class="row">
        <mat-form-field class="col-sm-12 col-xs-12">
            <input matInput id="name" placeholder="Název intervalu" formControlName="name">
        </mat-form-field>
    </div>
    <p>
        Opakovat po:
    </p>
    <div class="row">
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput id="odo" [placeholder]="units" formControlName="odo">
        </mat-form-field>
        <mat-form-field *ngIf="units2" class="col-sm-4 col-xs-12">
            <input matInput id="odo2" [placeholder]="units2" formControlName="odo2">
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput id="months" placeholder="Měsíce" formControlName="months">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col-sm-12 col-xs-12">
            <input matInput id="note" placeholder="Poznámka" formControlName="note">
        </mat-form-field>
    </div>
</form>