@import "../../../../../style/theme/conf.scss";

.wrapper {

    .stat {
        margin: 3px 0;
        display: flex;

        .description {
            flex-grow: 1;
        }

        .value {
            flex-grow: 0;
            font-weight: bold;
        }
    }

    .loading-bar {
        padding: 20px 0;
        text-align: center;
    }

    .chart-toggle {
        span {
            margin-right: 10px;
        }
    }
    
}

.chart-wrapper {
    height: 400px;
}

@media(max-width: $mobileWidth) {
    .chart-wrapper {
        height: 200px;
    }
}