<div class="wrapper">

    <div class="chart-wrapper" *ngIf="!!data && data.length">
        <ngx-charts-line-chart
            [scheme]="colorScheme"
            [results]="data"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale">
        </ngx-charts-line-chart>
    </div>

    <div *ngIf="!!stats">
        <va-number-stats [stats]="stats"></va-number-stats>
    </div>
</div>
