<div class="wrapper">

    <div class="chart-toggle">
        <span class="switch" (click)="changeChart('FUEL')">Tankování</span>
        <span class="switch" (click)="changeChart('MILEAGE')">Nájezd</span>
    </div>

    <div class="chart-wrapper">
        <ngx-charts-line-chart *ngIf="!!mileageData && chart === 'MILEAGE'"
            [scheme]="colorScheme"
            [results]="mileageData"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale">
        </ngx-charts-line-chart>

        <ngx-charts-bar-vertical-2d *ngIf="!!fuelData && !!fuelData?.series?.length && chart === 'FUEL'"
            [scheme]="colorScheme"
            [results]="fuelData"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [showXAxisLabel]="false"
            [showYAxisLabel]="true"
            xAxisLabel="Období"
            yAxisLabel="Natankované množství">
        </ngx-charts-bar-vertical-2d>
    </div>

    <div *ngIf="!!stats">
        <va-number-stats [stats]="stats"></va-number-stats>
    </div>
</div>
