<div class="wrapper" *ngIf="needPaginator">
    <div class="loading">
        <i *ngIf="isLoading" class="icon-refresh spin"></i>
    </div>
    <div class="controls">
        <button class="va-btn va-prev"
            (click)="prev()" [disabled]="isFirstPage || isLoading"><i class="icon-chevron-left"></i></button>
        
        <div class="pages">
            <button *ngFor="let p of pages"
                class="va-btn page"
                [ngClass]="{'va-primary': p === currentPage}"
                (click)="page(p)"
                [disabled]="isLoading">{{p + 1}}</button>
        </div>

        <button class="va-btn va-next"
            (click)="next()" [disabled]="isLoading || isLastPage"><i class="icon-chevron-right"></i></button>
        <!-- <button class="btn btn-default"
            (click)="prev()" [disabled]="isFirstPage || isLoading"><i class="icon-chevron-left"></i></button>
        
        <div class="pages">
            <button *ngFor="let p of pages"
                class="btn btn-default page"
                [ngClass]="{'btn-primary': p === currentPage}"
                (click)="page(p)"
                [disabled]="isLoading">{{p + 1}}</button>
        </div>

        <button class="btn btn-default"
            (click)="next()" [disabled]="isLoading || isLastPage"><i class="icon-chevron-right"></i></button> -->
    </div>
</div>