@import "../../../../style/theme/conf.scss";

.wrapper {

    display: flex;

    .loading {
        flex-grow: 1;
        margin: auto 0;
    }

    .controls {
        display: flex;

        .pages {

            display: flex;

            .page {
                border-radius: 0px;
                border-right: 0px;

                &:first-child {
                    border-radius: 2px 0px 0px 2px;
                }

                &:last-child {
                    border-radius: 0px 2px 2px 0px;
                    border-right: 1px solid #CCC;
                }
            }
        }
    }
}
