<div class="row">
        
    <div class="col-md-7">
        <va-section-heading>
            <va-section-heading-title>Nastavené intervaly</va-section-heading-title>
            <va-section-heading-controls>
                <a *ngIf="canRunInterval" (click)="runInterval()">spustit</a>
            </va-section-heading-controls>
        </va-section-heading>

        <va-maintenances (finishMaintenance)="finishMaintenance($event)"
            (editMaintenance)="editMaintenance($event)"
            (refreshAll)="refreshAll()"></va-maintenances>
    </div>

    <div class="col-md-5">
        <va-section-heading>
            <va-section-heading-title>Přehled intervalů</va-section-heading-title>
            <va-section-heading-controls>
                <a (click)="openAddInterval()">přidat</a>
            </va-section-heading-controls>
        </va-section-heading>
        <va-intervals (intervalsUpdated)="refreshIntervals(vehicleId)"></va-intervals>
    </div>
</div>
