<form [formGroup]="form">
    <div class="row">
        <mat-form-field class="col-md-12">
            <input matInput type="text" id="name" formControlName="name" placeholder="Název">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-md-12">
            <input matInput type="text" id="address" formControlName="address" placeholder="Adresa">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-md-6">
            <input matInput type="text" id="city" formControlName="city" placeholder="Město">
        </mat-form-field>
        <mat-form-field class="col-md-6">
            <input matInput type="text" id="zipCode" formControlName="zipCode" placeholder="PSČ">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-md-6">
            <input matInput type="text" id="web" formControlName="web" placeholder="Web">
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <input matInput type="text" id="phone" formControlName="phone" placeholder="Telefon">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-md-12">
            <textarea matInput type="text" id="notes" formControlName="notes" placeholder="Poznámky"></textarea>
        </mat-form-field>
    </div>

    <!-- <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default" (click)="cancel()">Zrušit</button>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Uložit</button>
        </div>
    </div> -->
</form>