// @import '../../../../style/theme/_animations.scss';
@import '../../../../style/theme/conf.scss';

.flex-row {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;

    .left {
        flex-grow: 0;
        
    }

    .spacer {
        flex-grow: 1;
    }

    .title {
        font-size: 30px;
        font-weight: bold;
        margin: auto;
        display: flex;
    }

    va-initials {
        margin: 0px 10px 0px 0px;
    }
}

.bold {
    font-weight: bold;
}

@media (max-width: $mobileWidth) {
    .flex-row {
        .title {
            font-size: 22px;
        }
    }
}