// @import '../../../../style/theme/_animations.scss';

.flex-row {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;

    .left {
        flex-grow: 0;
        
    }

    .spacer {
        flex-grow: 1;
    }

    .title {
        font-size: 30px;
        font-weight: bold;
        margin: auto;
        display: flex;
    }

    va-initials {
        margin: 0px 10px 0px 0px;
    }

    .right {
        flex-grow: 0;
        margin: auto 0;

        .dropdown-menu {
            padding: 0;
            width: 200px;
            margin-left: -74px;

            .dropdown-item {
                a {
                    display: block;
                    padding: 0;
                }
            }
        }
    }
}

.bold {
    font-weight: bold;
}

@media (max-width: 400px) {
    .flex-row {
        .settings {
            display: none;
        }

        .right {
            .dropdown-menu {
                margin-left: 0;
                max-width: 282px;
            }
        }
    }
}