:host {
    display: block;
    padding: 10px;
    background-color: #ddd;
    margin: 6px 0;
    border-radius: 3px;

    .filter-title {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        margin-bottom: 6px;

        i {
            display: inline-block;
            width: 25px;
            height: 25px;
            font-size: 12px;
            line-height: 25px;
            text-align: center;
            background-color: #999;
            border-radius: 3px;
            color: white;
            margin-right: 6px;
        }
    }
    .icon-search {
        padding-right: 8px;
    }
}

@media print {
    :host {
        display: none;
    }
}
