<div class="add-form">
    <div>
        <form [formGroup]="form" (submit)="form.valid && save()" class="vehicle-form">
            <div class="row">
                <va-form-item class="col-md-6 form-group" [control]="form.controls.brand">
                    <label for="brand">Značka:</label>
                    <input type="text" id="brand" class="form-control"
                        formControlName="brand">
                </va-form-item>
                <va-form-item class="col-md-6 form-group" [control]="form.controls.model">
                    <label for="model">Model:</label>
                    <input type="text" id="model" class="form-control"
                        formControlName="model">
                </va-form-item>
            </div>
            <div class="row">
                <va-form-item [control]="form.controls.manufactureYear" class="col-md-6 form-group">
                    <label for="manufactureYear">Rok výroby:</label>
                    <input type="text" id="manufactureYear" class="form-control" 
                        formControlName="manufactureYear">
                </va-form-item>
                <va-form-item [control]="form.controls.price" class="col-md-6 form-group">
                    <label for="price">Počet předchozích majitelů:</label>
                    <input type="text" id="previousOwners" class="form-control"
                        formControlName="previousOwners">
                </va-form-item>
            </div>

            <div class="row">
                <va-form-item [control]="form.controls.type" class="col-md-6 form-group">
                    <label for="type">Typ:</label>
                    <select id="type" class="form-control"
                        placeholder="Typ vozidla" formControlName="type">
                        <option value="CAR">auto</option>
                        <option value="MOTORCYCLE">motocykl</option>
                    </select>
                </va-form-item>
                <va-form-item [control]="form.controls.spz" class="col-md-6 form-group">
                    <label for="spz">SPZ:</label>
                    <input type="text" id="spz" class="form-control" formControlName="spz">
                </va-form-item>
            </div>

            <div class="row">
                <va-form-item [control]="form.controls.notes" class="col-md-12 form-group">
                    <label for="notes">Poznámky:</label>
                    <textarea type="text" id="notes" class="form-control"
                        formControlName="notes"></textarea>
                </va-form-item>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" (click)="cancel()">Zrušit</button>
                    <button type="submit" class="btn btn-primary" [class.disabled]="!form.valid">Přidat</button>
                </div>
            </div>
        </form>
    </div>
    
</div>
