<form [formGroup]="form">
    <div class="row">
        <mat-form-field class="col-sm-6 col-xs-12">
            <mat-label>Nájezd ({{ units }})</mat-label>
            <input matInput type="number" id="odo" formControlName="odo"
                [placeholder]="lastFuel?.odo + '' + units">
            <mat-hint *ngIf="!!lastFuel && form.get('odo').value > lastFuel.odo" align="end">+{{ form.get('odo').value - lastFuel.odo }} {{units}}</mat-hint>
        </mat-form-field>
        <mat-form-field *ngIf="subUnits" class="col-sm-6 col-xs-12">
            <mat-label>Nájezd ({{ subUnits }})</mat-label>
            <input matInput type="number" id="odo2" formControlName="odo2"
                [placeholder]="lastFuel?.odo2 + '' + subUnits">
            <mat-hint *ngIf="!!lastFuel && form.get('odo2').value > lastFuel.odo2" align="end">+{{ form.get('odo2').value - lastFuel.odo2 }} {{subUnits}}</mat-hint>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-sm-6 col-xs-12">
            <input matInput [matDatepicker]="picker" formControlName="date"
                placeholder="Datum">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-sm-6 col-xs-12">
            <mat-label>Množství</mat-label>
            <input matInput type="number" id="quantity" formControlName="quantity"
                (keyup)="resetPrice()" placeholder="Množství">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-sm-6 col-xs-12">
            <mat-label>Cena/Litr</mat-label>
            <input matInput type="number" id="pricePerLiter" formControlName="pricePerLiter"
                (keyup)="calculatePrice()" placeholder="Cena/Litr">
        </mat-form-field>
        <mat-form-field class="col-sm-6 col-xs-12">
            <mat-label>Cena</mat-label>
            <input matInput type="number" id="pricer" formControlName="price"
                (keyup)="calculatePricePerLiter()" placeholder="Cena">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-sm-6 col-xs-12">
            <input matInput type="text" id="note" formControlName="note"
                placeholder="Poznámka">
        </mat-form-field>
        <div class="col-sm-6 col-xs-12">
            <mat-checkbox formControlName="fullTank">Plná nádrž</mat-checkbox>
        </div>
    </div>
</form>