.main-content {
    height: calc(100vh - 40px);
    overflow: hidden;
}

@media (max-width: 360px) {
    .main-content {
        height: calc(100vh - 50px);
    }
}

@media print {
    va-top-menu {
        display: none;
    }
    .main-content {
        height: auto;
        overflow: auto;
    }
}
