<div class="content">
    <div *ngFor="let prop of properties">
        <div class="prop-block">
            <div class="prop">
                <div class="name">{{prop.name}}</div>
                <div class="value">{{prop.value}}</div>
            </div>
            <div class="controls">
                <div class="control"><i class="icon-edit" (click)="edit.emit(prop)"></i></div>
                <div class="control"><i class="icon-bin" (click)="deleteConfirm(prop)"></i></div>
            </div>
        </div>
    </div>
</div>
