<div class="content">
    <ng-container *ngIf="!state.loading && !!state.properties && !!state.properties.length">
        <div *ngFor="let prop of state.properties">
            <div class="prop-block">
                <div class="prop">
                    <div class="name">{{prop.name}}</div>
                    <div class="value">{{prop.value}}</div>
                </div>
                <div class="controls">
                    <div class="control"><i class="icon-edit" (click)="edit.emit(prop)"></i></div>
                    <div class="control"><i class="icon-bin" (click)="deleteConfirm(prop)"></i></div>
                </div>
            </div>
        </div>
    </ng-container>
    <div *ngIf="!state.loading && (!state.properties || !state.properties.length)">Nebyly nalezeny žádné parametry.</div>
    <div *ngIf="state.loading" class="loading">
        <va-spinner>Nahrávám...</va-spinner>
    </div>
</div>
