.content {
    overflow: hidden;
    background: #fff;
    padding: 8px;
}

.prop-block {
    display: flex;
    padding: 8px;

    .prop {
        flex-grow: 1;

        .name {
            font-size: 14px;
        }

        .value {
            color: rgba(0, 0, 0, 0.5438);
            font-size: 13px;
        }
    }

    .controls {
        display: flex;
        flex-grow: 0;
        white-space: nowrap;

        .control {
            margin: auto 0 auto 6px;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.56);
            cursor: pointer;
        }
    }
}

.loading {
    text-align: center;
    font-size: 12px;
}

@media print {
    .prop-block {
        .controls {
            display: none;
        }
    }
}
