<div bsModal #routedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="routedModal" aria-hidden="true" (onHidden)="back()" [config]="{keyboard: keyboard}">

    <div class="modal-dialog" [ngClass]="size">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><ng-content select="[vaRoutedModalContentTitle]"></ng-content></h4>
                <button type="button" (click)="back()" class="close" aria-label="Close">
                    <!-- <i class="icon-cross"></i> -->
                    <!-- &times; -->
                    <i class="icon-clear"></i>
                </button>
            </div>
            <div class="modal-body scrollable-wrapper">
                <div class="modal-body-content">
                    <ng-content select="[vaRoutedModalContentBody]"></ng-content>
                </div>
                <div class="modal-footer">
                    <ng-content select="[vaRoutedModalContentFooter]"></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>