<h3 mat-dialog-title class="dialog-title"
    [matTooltip]="data.tire.brand + ' ' + data.tire.model">
    {{data.status === 'STOCK' ? 'Vyzut' : 'Obut'}} {{data.tire.brand}} {{data.tire.model}}</h3>
<mat-dialog-content>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-sm-12">Poslední výměna při
                <b>{{data.tire.odo | formatNumber}} {{units}}</b>
                <b *ngIf="units2">&nbsp;({{data.tire.odo2 | formatNumber}} {{units2}})</b>
            </div>
        </div>
        <div class="row">
            <mat-form-field class="col-sm-12">
                <input matInput type="number" id="odo" formControlName="odo" [placeholder]="'ODO (' + units + ')'">
                <mat-hint *ngIf="data.status === 'STOCK'">Nový nájezd: {{newOdo | formatNumber}} {{units}}</mat-hint>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field *ngIf="!!units2" class="col-sm-12">
                <input matInput type="number" id="odo2" formControlName="odo2" [placeholder]="'ODO (' + units2 + ')'">
                <mat-hint *ngIf="data.status === 'STOCK'">Nový nájezd: {{newOdo2 | formatNumber}} {{units2}}</mat-hint>
            </mat-form-field>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <mat-form-field>
                    <input matInput formControlName="date" placeholder="Datum" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button type="button" mat-dialog-close>Zrušit</button>
    <button mat-flat-button color="primary" type="button" [disabled]="!form.valid"
        (click)="save()">Uložit</button>
</mat-dialog-actions>
