<form [formGroup]="form" (submit)="form.valid && save()">
    <div class="row">
        <va-form-item [control]="form.get('repairTitle')" class="col-sm-12">
            <label for="repairTitle">Název opravy:</label>
            <input type="text" id="repairTitle" class="form-control" formControlName="repairTitle">
        </va-form-item>
    </div>
    <div class="row">
        <va-form-item [control]="form.get('odo')" class="col-sm-6">
            <label for="odo">km:</label>
            <input type="text" id="odo" class="form-control" formControlName="odo">
        </va-form-item>
        <va-form-item [control]="form.get('odo2')" class="col-sm-6">
            <label for="odo2">mh:</label>
            <input type="text" id="odo2" class="form-control" formControlName="odo2">
        </va-form-item>
    </div>

    <div class="row">
        <va-form-item [control]="form.get('date')" class="col-sm-6">
            <label for="date">Datum:</label>
            <va-date-picker id="date" formControlName="date"></va-date-picker>
        </va-form-item>
        <va-form-item [control]="form.get('garageId')" class="col-sm-6">
            <label for="garageId">Provedeno v servise:</label>
            <select id="garageId" formControlName="garageId" class="form-control">
                <option [value]="g.id" *ngFor="let g of garages">{{g.name}}</option>
            </select>
        </va-form-item>
        
    </div>

    <div class="row">
        <va-form-item [control]="form.get('price')" class="col-sm-6">
            <label for="price">Cena:</label>
            <input type="text" id="price" class="form-control" formControlName="price">
        </va-form-item>
        
        <!-- <va-form-item [control]="form.get('repairId" class="col-sm-6">
            <label for="repairId">Provedeno vrámci opravy:</label>
            <select id="repairId" formControlName="repairId" class="form-control">
                <option value=""></option>
                <option [value]="g.id" *ngFor="let g of garages">{{g.name}}</option>
            </select>
        </va-form-item> -->
    </div>

    <div class="row">
        <va-form-item [control]="form.get('notes')" class="col-sm-12">
            <label for="notes">Poznámky:</label>
            <textarea id="notes" class="form-control" formControlName="notes"></textarea>
        </va-form-item>
    </div>

    <div class="row">
        <va-form-item [control]="form.get('repeat')" class="col-sm-6">
            <label for="repeat">Opakovat</label>
            <va-checkbox id="repeat" formControlName="repeat"></va-checkbox>
        </va-form-item>
    </div>

    <div *ngIf="showWarning" class="alert warning">
        <i class="icon-warning-black"></i>
        <div class="message">Některé z vybraných položek nemohou být dokončeny.</div>
    </div>

    <div *ngIf="hasError" class="alert error">
        <i class="icon-warning-black"></i>
        <div class="message">Vybrané položky nelze dokončit, upravte výběr.</div>
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-default" (click)="cancel()">Zrušit</button>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid && !hasIds">Uložit</button>
    </div>
</form>