.alert {
    color: #fff;
    padding: 3px 10px;
    margin-bottom: 15px;
    display: flex;
    border-radius: 3px;

    &.warning {
        background-color: #FFA200;
    }

    &.error {
        background-color: rgb(190, 0, 0);
    }

    .icon-warning-black {
        font-size: 26px;
        margin-right: 12px;
    }

    .message {
        margin: auto 0;
    }
}