<h3 mat-dialog-title>Dokončit běžící intervaly</h3>
<mat-dialog-content>
    <form [formGroup]="form">
        <div class="row">
            <mat-form-field class="col-sm-12 col-xs-12">
                <input matInput type="text" id="repairTitle" formControlName="repairTitle" placeholder="Název opravy">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-sm-6 col-xs-12">
                <input matInput type="number" id="odo" formControlName="odo" [placeholder]="units">
            </mat-form-field>
            <mat-form-field class="col-sm-6 col-xs-12" *ngIf="!!units2">
                <input matInput type="number" id="odo2" formControlName="odo2" [placeholder]="units2">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col-sm-6 col-xs-12">
                <input matInput id="date" [matDatepicker]="picker" formControlName="date" placeholder="Datum">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-sm-6 col-xs-12">
                <mat-select id="garageId" formControlName="garageId" placeholder="Servis">
                    <mat-option [value]="g.id" *ngFor="let g of garages">{{g.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            
        </div>

        <div class="row">
            <mat-form-field class="col-sm-6 col-xs-12">
                <input matInput type="number" id="price" formControlName="price" placeholder="Cena">
            </mat-form-field>

            <div class="col-sm-6 col-xs-12">
                <mat-checkbox formControlName="repeat">Opakovat</mat-checkbox>
            </div>
        </div>

        <div class="row">
            <mat-form-field class="col-sm-12 col-xs-12">
                <textarea matInput id="notes" formControlName="notes" placeholder="Poznámky"></textarea>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" mat-flat-button mat-dialog-close>Zrušit</button>
    <button type="button" mat-flat-button color="primary" [disabled]="form.invalid"
        (click)="form.valid && finish()">Dokončit</button>
</mat-dialog-actions>