<mat-card>
    <mat-card-title>Motor</mat-card-title>
    <mat-card-content>
        <va-info-detail-item label="Obsah"
            [value]="vehicle.engine.displacement + ' ccm'"></va-info-detail-item>
        <va-info-detail-item label="Počet válců"
            [value]="vehicle.engine.cylinders"></va-info-detail-item>
        <va-info-detail-item label="Výkon"
            [value]="vehicle.engine.power + ' kW ' + (vehicle.engine.power | toHorsePower)"></va-info-detail-item>
        <va-info-detail-item label="Rychl. stupně"
            [value]="vehicle.engine.transmission"></va-info-detail-item>
        <va-info-detail-item label="Motor"
            [value]="vehicle.engine.engineType"></va-info-detail-item>
        <va-info-detail-item label="Převodovka"
            [value]="vehicle.engine.transmissionType"></va-info-detail-item>
        <va-info-detail-item label="Palivo"
            [value]="vehicle.engine.fuel"></va-info-detail-item>
        <va-info-detail-item label="Olej"
            [value]="vehicle.engine.engineOil"></va-info-detail-item>
        <ng-container *ngIf="vehicle.engine.fuelOil">
            <va-info-detail-item label="Olej do paliva"
                [value]="vehicle.engine.fuelOil"></va-info-detail-item>
            <va-info-detail-item label="Poměr ředění"
                [value]="vehicle.engine.dilutionRatio"></va-info-detail-item>
        </ng-container>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="primary" (click)="edit()">Upravit</button>
    </mat-card-actions>
</mat-card>
