<div class="row">
    <div class="col-md-3">Obsah:</div>
    <div class="col-md-3">{{engine.displacement}} cm<sup>3</sup></div>

    <div class="col-md-3">Počet válců:</div>
    <div class="col-md-3">{{engine.cylinders}}</div>
</div>

<div class="row">
    <div class="col-md-3">Výkon:</div>
    <div class="col-md-3">{{engine.power}} kW {{engine.power | toHorsePower}}</div>

    <div class="col-md-3">Poč. rychl. stupňů:</div>
    <div class="col-md-3">{{engine.transmission}}</div>
</div>

<div class="row">
    <div class="col-md-3">Motor:</div>
    <div class="col-md-3">{{engine.engineType}}</div>

    <div class="col-md-3">Převodovka:</div>
    <div class="col-md-3">{{engine.transmissionType}}</div>
</div>

<div class="row">
    <div class="col-md-3">Palivo:</div>
    <div class="col-md-3">{{engine.fuel}}</div>

    <div class="col-md-3">Olej:</div>
    <div class="col-md-3">{{engine.engineOil}}</div>
</div>

<div class="row" *ngIf="engine.fuelOil">
    <div class="col-md-3">Olej do benzinu:</div>
    <div class="col-md-3">{{engine.fuelOil}}</div>

    <div class="col-md-3">Poměr ředění</div>
    <div class="col-md-3">{{engine.dilutionRatio}}</div>
</div>