<div>
    <va-filter title="Filtr">
        <form [formGroup]="form" class="filters">
            <div class="row">
                <mat-form-field class="col-sm-4 col-xs-12">
                    <mat-select id="status" formControlName="status">
                        <mat-option *ngFor="let status of statuses" [value]="status.key">{{status.label}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-sm-8 col-xs-12">
                    <mat-select id="interval" formControlName="interval">
                        <mat-option value="">všechny intervaly</mat-option>
                        <mat-option *ngFor="let interval of intervals" [value]="interval.id">{{interval.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </va-filter>
</div>
        
<div class="actions" *ngIf="!!maintenances">
    <a *ngIf="!maintenanceAction" (click)="setAction(true)">Označit...</a>
    <a *ngIf="!!maintenanceAction" (click)="setAction(false)" class="cancel">Zrušit</a>
    <span *ngIf="!!maintenanceAction">
        <a [class.disabled]="!hasSelection || !canFinish"
            (click)="hasSelection && canFinish && openFinishDialog()">Dokončit</a>
        <a [class.disabled]="!hasSelection || !canCancel"
            (click)="hasSelection && canCancel && confirmMaintenanceCancel()">Ukončit</a>
        <a [class.disabled]="!hasSelection"
            (click)="hasSelection && confirmDelete()">Smazat</a>
    </span>
</div>

<div class="intervals">
    <va-maintenance-card *ngFor="let m of maintenances"
        [maintenance]="m"
        [showCheckbox]="!!maintenanceAction"
        (canceled)="fetchCurrentPage()"
        (updateClicked)="editMaintenance.emit($event)"
        (selectionChanged)="selectionChanged(m, $event)"></va-maintenance-card>
</div>

<va-paginator [service]="maintenanceService"
    (selected)="fetchPage($event)"></va-paginator>



