<form [formGroup]="form" (submit)="form.valid && save()">
    <div class="row">
        <va-form-item [control]="form.get('units')" class="col-sm-6">
            <label for="units">Hlavní jednotky:</label>
            <input type="text" id="units" class="form-control" formControlName="units">
        </va-form-item>
        <va-form-item [control]="form.get('subUnits')" class="col-sm-6">
            <label for="subUnits">Vedlejší jednotky:</label>
            <input type="text" id="subUnits" class="form-control" formControlName="subUnits">
        </va-form-item>
    </div>
    <div class="row">
        <va-form-item [control]="form.get('tankCapacity')" class="col-sm-6">
            <label for="tankCapacity">Objem n:</label>
            <input type="text" id="tankCapacity" class="form-control" formControlName="tankCapacity">
        </va-form-item>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default" (click)="cancel()">Zrušit</button>
            <button type="submit" class="btn btn-primary" [class.disabled]="!form.valid">Uložit</button>
        </div>
    </div>
</form>