<h3 mat-dialog-title>Upravit nastavení</h3>
<mat-dialog-content>
    <form [formGroup]="form">
        <div class="row">
            <mat-form-field class="col-sm-6 col-xs-12">
                <input matInput type="text" id="units" placeholder="Hlavní jednotky" formControlName="units">
            </mat-form-field>
            <mat-form-field class="col-sm-6 col-xs-12">
                <input matInput type="text" id="subUnits" placeholder="Vedlejší jednotky" formControlName="subUnits">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-sm-6 col-xs-12">
                <input matInput type="number" id="tankCapacity" placeholder="Objem nádrže" formControlName="tankCapacity">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Zrušit</button>
    <button mat-flat-button color="primary" [disabled]="form.invalid"
        (click)="form.valid && save()">Uložit</button>
</mat-dialog-actions>