.info {
    display: flex;
    margin-bottom: 10px;

    .info-text {
        color: #888;
        flex-grow: 1;
        width: 50%;
    }
    .info-value {
        flex-grow: 1;
        width: 50%;
    }

    &.wrap {
        display: block;

        .info-text {
            width: 100%;
        }
        .info-value {
            width: 100%;
        }
    }
}
