<va-card>
    <va-card-title>
        <div class="header">
            <div class="value title">
                <span>{{fuel.date | moment: 'DD.MM.YYYY'}}</span>
                <span *ngIf="!!units">{{fuel.odo | formatNumber}} {{units}}</span>
                <span *ngIf="!!subUnits">{{fuel.odo2 | formatNumber}} {{subUnits}}</span>
                <span tooltip="Množství">{{fuel.quantity | formatNumber }} l</span>
            </div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="value nowrap">{{fuel.price | price}}</div>
        </div>
    </va-card-title>
    <va-card-footer>
        <div class="body">
            <div class="value">
                <span *ngIf="fuel.distance"
                    class="distance">+{{ (fuel.distance | formatNumber) || '0'}} {{units}}</span>
                <span *ngIf="fuel.hoursDistance"
                    class="distance">+{{ (fuel.hoursDistance | formatNumber) || '0'}} {{subUnits}}</span>
            </div>
            <div class="spacer"></div>
            <div class="value consumptions">
                <div class="value not-full" *ngIf="!fuel.fullTank">Částečné tankování</div>
                <span *ngIf="fuel.consumption" tooltip="Spotřeba" placement="bottom"
                    class="consumption">{{fuel.consumption | formatNumber}} l/100 {{units}}</span>
                <span *ngIf="fuel.consumptionHours" tooltip="Spotřeba" placement="bottom"
                    class="consumption">{{fuel.consumptionHours | formatNumber}} l/1 {{subUnits}}</span>
            </div>
        </div>
        <div class="notes" *ngIf="fuel.note">
            {{fuel.note}}
        </div>
        <div *ngIf="tankCapacity">
            <va-slim-bar [max]="tankCapacity" [value]="fuel.quantity"
                [showTooltip]="true"></va-slim-bar>
        </div>
        <div class="actions">
            <a class="action-button" [routerLink]="['./', { outlets: {'popup':['m','edit', fuel.id]}}]">
                Upravit
            </a>
            <a (click)="delete()" class="action-button delete">
                Smazat
            </a>
        </div>
    </va-card-footer>
</va-card>