<div class="row">
    <div class="col-md-4">
        <va-section-heading>
            <va-section-heading-title>Tankování</va-section-heading-title>
            <va-section-heading-controls>
                <a [routerLink]="['./', { outlets: {'popup':['m','add', vehicleId]}}]">přidat</a>
            </va-section-heading-controls>
        </va-section-heading>

        <div *ngIf="isLoading && !fuelings" class="loading-bar">
            <i class="icon-refresh spin"></i>
        </div>

        <div *ngIf="!!fuelings" class="fueling-block">
            <va-paginator [service]="fuelService"
                (selected)="fetchPage($event)">
            </va-paginator>
            
            <div class="fuelings">
                <va-fuel-card *ngFor="let fuel of fuelings"
                    [fuel]="fuel"
                    (deleted)="delete($event)"></va-fuel-card>
            </div>

            <va-paginator [service]="fuelService"
                (selected)="fetchPage($event)">
            </va-paginator>
        </div>
    </div>
    <div class="col-md-8 hidden-xs">
        <h3>Statistiky</h3>
        <va-fuel-stats *ngIf="vehicleId" [stats]="statistics" [mileages]="mileages"></va-fuel-stats>
    </div>
</div>

<div *ngIf="fuelings?.length == 0 && !isLoading" class="no-record">
    Nebyl nalezen žádný záznam.
</div>

<router-outlet (deactivate)="refresh()" name="popup"></router-outlet>