<div class="row">
    <div class="col-md-6">
        <va-section-heading>
            <va-section-heading-title>Technické kontroly</va-section-heading-title>
            <va-section-heading-controls>
                <!-- <a (click)="addTk()">přidat</a> -->
                <a [routerLink]="['./', { outlets: {'modal':['m','add', vehicleId]}}]">přidat</a>
            </va-section-heading-controls>
        </va-section-heading>

        <!-- <div [@openClose]="!!inspectionFormExpanded ? 'expanded' : 'collapsed'">
            <va-technical-form [vehicleId]="vehicleId"
                [ti]="selectedInspection"
                [allStations]="stations"
                (saved)="onSave()"
                (canceled)="cancelInspection()"></va-technical-form>
        </div> -->

        <div *ngIf="isLoading && !inspections" class="loading">
            <i class="icon-refresh spin"></i>
        </div>

        <div *ngIf="!!inspections">

            <va-paginator (selected)="fetchPage($event)" [service]="inspectionService"></va-paginator>

            <div class="inspections">
                <va-inspection-card *ngFor="let inspection of inspections"
                    [inspection]="inspection"
                    (edited)="inspectionEdit($event)"
                    (deleted)="onInspectionDelete()"></va-inspection-card>
            </div>

            <va-paginator (selected)="fetchPage($event)" [service]="inspectionService"></va-paginator>
        </div>
    </div>

    <div class="col-md-6">
        <va-section-heading>
            <va-section-heading-title>STK</va-section-heading-title>
            <va-section-heading-controls>
                <a (click)="addStk()">Přidat</a>
            </va-section-heading-controls>
        </va-section-heading>

        <div [@openClose]="!!stationFormExpanded ? 'expanded' : 'collapsed'">
            <va-station-form [station]="selectedStation"
                (saved)="saveStation($event)"
                (canceled)="cancelStationForm()"></va-station-form>
        </div>

        <div *ngIf="stationLoading" class="loading">
            <i class="icon-refresh spin"></i>
        </div>

        <va-station-card
            *ngFor="let station of stations"
            [station]="station"
            (edited)="editStation($event)"
            (deleted)="onStationDelete()"></va-station-card>
    </div>
</div>

<router-outlet (deactivate)="fetchCurrentPage()" name="modal"></router-outlet>
