@import "../../../../style/theme/conf.scss";


:host {
    display: block;
    padding-bottom: 20px;
}

.inpection-wrapper {
    position: relative;
    .loading {
        text-align: center;
        padding: 20px;
        position: absolute;
        left: calc(50% - 35px);
        top: 25px;
    }
}

.inspections {
    margin: 5px 0px 5px 0px;

    va-inspection-card {
        display: block;
        margin-bottom: 3px;
    }
}

va-station-card {
    display: block;
    margin-bottom: 5px;
}
