<form [formGroup]="form" (submit)="form.valid && save()">
    <div class="row">
        <mat-form-field class="col-sm-4 col-xs-12">
            <mat-select type="text" id="category" formControlName="category" placeholder="Kategorie">
                <mat-option *ngFor="let category of categories" [value]="category.id">{{category.title}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('category').hasError('required')">
                Toto pole je <strong>povinné</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-8 col-xs-12">
            <input matInput type="text" id="title" formControlName="title" placeholder="Název">
            <mat-error *ngIf="form.get('title').hasError('required')">
                Toto pole je <strong>povinné</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-sm-12 col-xs-12">
            <textarea matInput type="text" id="note" formControlName="note" placeholder="Poznámka"></textarea>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput type="text" id="quantity" formControlName="quantity" placeholder="Množství">
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput type="text" id="pricePerItem" formControlName="pricePerItem" placeholder="Cena za kus">
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput type="text" id="totalPrice" formControlName="totalPrice" placeholder="Celková cena">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-sm-4 col-xs-12">
            <input matInput type="text" id="odo" formControlName="odo"
                [placeholder]="'ODO (' + units + ')'">
        </mat-form-field>
        <mat-form-field *ngIf="!!units2" class="col-sm-4 col-xs-12">
            <input matInput type="text" id="odo2" formControlName="odo2"
                [placeholder]="'ODO (' + units2 + ')'">
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">

            <input matInput [matDatepicker]="picker" formControlName="date"
                placeholder="Datum">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</form>
