<div class="vehicle-wrapper">   
    <div class="col-sm-12">

        <div class="header">
            <h1 class="text-center">Přehled vozidel</h1>
            <div class="spacer"></div>
            <div class="search">
                <input type="text" class="form-control" placeholder="Hledat..." [formControl]="query">
            </div>
        </div>
        
        <div class="actions">
            <a href="" (click)="addVehicle($event)">Přidat vozidlo</a>
        </div>

        <div *ngIf="vehicles" class="vehicle-cards">
            <va-vehicle-card *ngFor="let vehicle of vehicles | vehicleFilter: filter"
                [vehicle]="vehicle" (deleted)="onDelete($event)"></va-vehicle-card>
        </div>
    </div>
</div>
