<div class="vehicle-wrapper">   
    <div class="col-sm-12">

        <div class="header">
            <h1>Přehled vozidel</h1>
            <div class="spacer"></div>
            <div class="search">
                <mat-form-field>
                    <input matInput type="text" placeholder="Hledat..." [formControl]="query">
                </mat-form-field>
            </div>
        </div>

        <div class="actions">
            <a href="" (click)="addVehicle($event)">Přidat vozidlo</a>
        </div>
        <div *ngIf="(state | async) as s">
            <mat-grid-list [cols]="gridCols" rowHeight="4:3" gutterSize="5px">
                <mat-grid-tile *ngFor="let vehicle of s.vehicles | vehicleFilter: filter">
                    <a [routerLink]="['/vehicle', vehicle.id, 'fuel']" class="card">
                        <va-vehicle-card
                            [vehicle]="vehicle" (deleted)="onDelete($event)"></va-vehicle-card>
                        <mat-grid-tile-footer>{{vehicle.brand}} {{vehicle.model}}</mat-grid-tile-footer>
                    </a>
                </mat-grid-tile>
            </mat-grid-list>

            <div *ngIf="s.loading">
                Loading vehicles...
            </div>
        </div>
    </div>
</div>
