
:host {
    display: block;
    padding-bottom: 20px;
}

.controls {
    a {
        cursor: pointer;
    }
}

va-tire-card {
    display: block;
    margin-bottom: 5px;
}

.trash {
    display: flex;
    flex-wrap: wrap;

    va-tire-card {
        flex-grow: 1;
        margin-right: 5px;
        
        &:last-child {
            margin-right: 0;
        }
    }
}

@media print {
    .trash {
        display: block;
    }
}
