<div>
  <div class="row">
        <div class="col-md-4">
            <va-section-heading>
                <va-section-heading-title>Technické parametry</va-section-heading-title>
                <va-section-heading-controls>
                        <a (click)="addProperty()">Přidat</a>
                </va-section-heading-controls>
            </va-section-heading>
            <ng-container *ngIf="(propertyState | async) as propState">
                <va-tire-properties [state]="propState"
                    (delete)="deleteProperty($event)"
                    (edit)="editProperty($event)"></va-tire-properties>
            </ng-container>
        </div>
        <div class="col-md-8">
            <ng-container *ngIf="(tireState | async) as tireState">
                <div class="row">
                    <div class="col-md-6">
                        <va-section-heading>
                            <va-section-heading-title>Aktuálně používané</va-section-heading-title>
                        </va-section-heading>
                        <ng-container *ngIf="!tireState.loading; else loadingActiveRef">
                            <div *ngFor="let tire of tireState.tires | tireStatusFilter: 'ACTIVE'">
                                <va-tire-card [tire]="tire" (selected)="select($event)"
                                    (showDetail)="showDetail($event)" (updateStatus)="updateStatus($event)"
                                    (changeTire)="changeTire($event)"
                                    (edit)="editTire($event)"
                                    (delete)="confirmTireDelete($event)"></va-tire-card>
                            </div>
                        </ng-container>
                        <ng-template #loadingActiveRef>
                            <va-spinner>Nahrávám...</va-spinner>
                        </ng-template>
                    </div>

                    <div class="col-md-6">
                        <va-section-heading>
                            <va-section-heading-title>Sklad</va-section-heading-title>
                            <va-section-heading-controls>
                                    <a (click)="addTire()">Přidat</a>
                            </va-section-heading-controls>
                        </va-section-heading>
                        <ng-container *ngIf="!tireState.loading; else loadingStockRef">
                            <div *ngFor="let tire of tireState.tires | tireStatusFilter: 'STOCK'">
                                <va-tire-card [tire]="tire" (selected)="select($event)"
                                    (showDetail)="showDetail($event)"
                                    (updateStatus)="updateStatus($event)"
                                    (changeTire)="changeTire($event)"
                                    (edit)="editTire($event)"
                                    (delete)="confirmTireDelete($event)"></va-tire-card>
                            </div>
                        </ng-container>
                        <ng-template #loadingStockRef>
                            <va-spinner>Nahrávám...</va-spinner>
                        </ng-template>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                            <va-section-heading>
                                <va-section-heading-title>Smetiště</va-section-heading-title>
                            </va-section-heading>
                        <div class="trash" *ngIf="!tireState.loading; else loadingTrashRef">
                            <ng-container *ngFor="let tire of tireState.tires | tireStatusFilter: 'TRASH'">
                                <va-tire-card [tire]="tire" (selected)="select($event)"
                                    (showDetail)="showDetail($event)" (updateStatus)="updateStatus($event)"
                                    (edit)="editTire($event)"
                                    (delete)="confirmTireDelete($event)"></va-tire-card>
                            </ng-container>
                        </div>
                        <ng-template #loadingTrashRef>
                            <va-spinner>Nahrávám...</va-spinner>
                        </ng-template>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
