<div class="row">
    <div class="col-sm-6">
        <va-section-heading>
            <va-section-heading-title>Obrázek</va-section-heading-title>
        </va-section-heading>
        <div *ngIf="!image && !loading" class="dropzone" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
            <div ng2FileDrop
                    (fileOver)="fileOverBase($event)"
                    [uploader]="uploader"
                    class="my-drop-zone"
                    *ngIf="!isUploading"> 
                <div><i class="icon-upload"></i> Nahrát obrázek</div>
            </div>
            <div class="spinner" *ngIf="isUploading">
                <i class="icon-spinner2"></i>
            </div>
        </div>

        <div *ngIf="!!image">
            <div class="miniature">
                <img *ngIf="!!image" [src]="image" class="thumb">
                <div class="controls">
                    <i class="icon-bin delete" (click)="deleteImage()"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <va-section-heading>
            <va-section-heading-title>Nastavení</va-section-heading-title>
            <va-section-heading-controls>
                    <a (click)="edit()">Upravit</a>
            </va-section-heading-controls>
        </va-section-heading>
        
        <div class="settings">
            <div class="prop-block">
                <div class="name">Hlavní jednotky</div>
                <div class="value">{{units}}</div>
            </div>
            <div class="prop-block">
                <div class="name">Vedlejší jednotky</div>
                <div class="value">{{units2 || 'nenastaveno'}}</div>
            </div>
            <div class="prop-block">
                <div class="name">Objem nádrže</div>
                <div class="value">{{tankCapacity + ' l'}}</div>
            </div>
        </div>        
    </div>
</div>
