<div class="modal fade" bsModal #dialog="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <button #btnClose type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{title}}</h4>
            </div> -->
            <div class="modal-body">

                <div *ngIf="!!title" class="title">{{title}}</div>

                <div class="message" [innerHTML]="message"></div>

                <div class="confirm-action-row">
                    <!-- <button #btnCancel type="button" class="btn btn-default">
                        {{cancel}}
                    </button>
                    <button #btnOk type="button" class="btn btn-primary">
                        {{ok}}
                    </button> -->
                    <a #btnCancel>{{cancel}}</a>
                    <a #btnOk>{{ok}}</a>
                </div>
            </div>
        </div>
    </div>
</div>